// @colors

// primaryColors
$color-blue: blue; /* comment */
$color-red: red;

// secondaryColors
$color-yellow: yellow; // some color
$color-orange: orange;

// @fonts
// sizes
$h1: 20; // some color
$h2: 40;

// family
$h1: 20; // some color
$h2: 40;
